body {
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #362c12;
}



#wrapper {
	/*outline: 1px solid red;*/
}

#header {
	/*outline: 1px solid red;*/
	position: relative;
	height: 50px;
	background: #274473;
	color: #FFF;
}

#header h2 {
	margin: 0;
	padding: 10px 0 0 10px;
}


#left_menu {
	/*outline: 1px solid blue;*/
	float: left;
	width: 330px;
}

#main {
	/*outline: 1px solid green;*/
	margin: 0 0 0 335px;
	padding: 20px 20px 50px 20px;
	text-align: justify;
}

#main h2{
	margin-top: 0;
}

#footer {
	/*outline: 1px solid maroon;*/
	border-top: 1px solid #274473;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
	background: #3C8DB8;
	color: #FFF;
	text-align: center;
	padding: 5px;
	font-size: 0.8em;
}



#left_menu ul {
	/*outline: 1px dashed red;*/
	list-style: none;
	margin: 20px 0 0 20px;
	padding: 0;
	display: block;
}

#left_menu ul a {
	display: block;
	padding: 9px 10px;
	background: #2F688C;
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}

#left_menu ul li:first-child a{
	border-top-left-radius: 10px
}

#left_menu ul li:last-child a{
	border-bottom-right-radius: 10px
}

#left_menu ul a:hover {
	background: #FC4E3A;
}




#container_forms {
	/*outline: 1px solid red;*/
	border: 1px solid #362c12;
	border-radius: 10px;
	position: absolute; 
	width: 250px;  
	height: 535px; 
	left: 50%;  
	top: 50%;  
	margin-left: -160px;  
	margin-top: -290px;  
	padding: 20px 54px;
}

#container_forms input[type=text], 
#container_forms input[type=password] {
	/*outline: 1px solid red;*/
	border: 1px solid #362c12;
	border-radius: 5px;
	font-size: 0.9em;
	padding: 5px;
	width: 240px;
}

.conatiner_switch {
	/*outline: 1px solid red;*/
	width: 357px;
	margin: -20px 0 20px -54px; 
}



#switch_input, #switch_registration {
	/*border: 1px solid grey;*/
	border-bottom: 1px solid grey;
	width: 178px;
	padding: 10px 0;
	text-align: center;
	background: #1E90FF;
	color: #FFF;
	font-weight: bold;
}

#switch_input {
	float: left;
	border-right: 1px solid grey;
	border-top-left-radius: 6px;
}

#switch_registration {
	margin-left: 179px;
	border-left: 1px solid grey;
	border-top-right-radius: 6px;
}

#switch_input, #switch_registration:hover {
	cursor: pointer;
	/*background: red;*/
}


#out {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	width: 210px;
	height: 20px;
	padding: 7px 10px;
	background: #1E90FF;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #FFF;
}

#out:hover {
	background: #FC4E3A;
	color: #FFF;
}



.conatiner_user {
	/*outline: 1px solid red;*/
	border-bottom: 1px solid #CCC;
	border-radius: 5px
	height: 105px;
}

.avatar {
	float: left;
}

.conatiner_user_min_info {
	outline: 1px solid green;
	margin: 0 205px 0 100px;
	padding-left: 10px; 
	height: 105px;
}

.conatiner_user a {
	text-decoration: none;
}

.conatiner_user_btn {
	outline: 1px solid red;
	float: right;
	width: 200px;
}


.test {
	outline: 1px solid red;
	height: 100px;
}

.continterloc {
	outline: 5px solid red;
	height: 100px !important;
}

.avatar{
	width: 100px; 
	height: 100px;
}

.conteiner_user{
	outline: 2px solid red;
	height: 150px;
}

.conteiner_user img {
	float: left;
}





.conteiner_btn {
	outline: 1px solid yellow;
	float: right;
	margin: 10px 10px 0 0;
	width: 310px;
	
}

.btn {
	display: block;
	width: 290px;
	height: 35px;
	padding: 7px 10px;
	background: #1E90FF;
	color: #FFF;
	text-decoration: none;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #FFF;
}

.btn:hover {
	background: #FC4E3A;
	color: #FFF;
	cursor: pointer;
}